# Project submission
**Due Friday May 16th before class.** Counts for 25% of the final course grade.

You should address all the questions relevant to your project.
You will not be graded based on the values of the model performance, but on whether or not you have applied the right methodology: formulated the business model, translated it into a right machine learning approach, analyzed your data, prepared it for modeling, applied at least 5 different machine learning algorithms, as well as neural networks, used cross validation for model tuning, justified your tuning metric, set up the proper machine learning pipeline without data leakage, evaluated your model using all the relevant metrics, interpreted your model and justified all your decisions.

If you have tried different approaches, please include them all, and not just the best one.
If doing some feature engineering has improved your model, also please include all of the steps, not just the most successful ones.

You should submit the notebook with the code, output and explanations. The notebook should be executable and comprehensible.

The points will be deducted for the following reasons:
- data leakage
- unjustified decisions (no discussion on: choice of metric for optimization, blind removal of features, blind removal of outliers...)
- notebook not comprehensible
- notebook with incomplete output
- notebook not executable
- blind copy pasting from ChatGPT, if the copied code is not suitable for the task
- writing your own code (or copy pasting them from outside source) for simple functions that we covered and that already exist in `sklearn` (train test split, plain grid search, encoding of categorical variables,...), as this leads to:
    - convoluted code prone to bugs
    - code that is hard to understand and review
    - waste of data scientist's time if ready-made simple functions exist

Additional points will be awarded for trying and testing different relevant approaches, from exploratory data analysis, to feature engineering, to modeling and evaluation.

There should be one submission per group, but team member evaluation can be submitted per person. If not submitted, the default is that all the team members have contributed equally to the project and should get the same grade.

### Group number:
### Student IDs:
### Project name:

## What business problem are you solving?
- Please state clearly what business problem are you solving. (one sentence)
- Elaborate why is this a relevant problem, and what can you do with the model output to create business value, i.e., how is the model output actionable. (2-3 paragraphs)

## What is the machine learning problem that you are solving?
- Please state clearly what is the ML problem. 
- If applicable state your target.

## Data exploration and preparation 

- How many data instances do you have?
- Do you have duplicates?
- How many features? What type are they?
- If they are categorical, what categories they have, what is their frequency?
- If they are numerical, what is their distribution?
- Do you have outliers, and do you need to do anything about them?
- What is the distribution of the target variable?
- If you have a target, you can also check the relationship between the target and the variables.
- Do you have missing data? If yes, how are you going to handle it?
- Can you use the features in their original form, or do you need to alter them in some way?
- What have you learned about your data? Is there anything that can help you in feature engineering or modeling?

## Feature engineering
Creating good features is probably the most important step in the machine learning process. 
This might involve doing:
- transformations
- aggregating over data points or over time and space, or finding differences (for example: differences between two monthly bills, time difference between two contacts with the client) 
- creating dummy (binary) variables
- discretization

Business insight is very relevant in this process. If it is possible you can also find additional relevant data.

## Modeling
You should implement AT LEAST FIVE approaches we covered, and tune of at least two hyperparameters of each approach.
Do not forget that you should split your data.
You should do model selection and tuning using cross validation on the train set, avoiding data leakage.
Explain and justify what is the metric you are using for model selection and tuning. If your data is imbalanced, consider using techniques for data balancing.

Separately, you should train a neural network. Visualize the training and validation loss. Discuss the network performance

In model selection, make sure when you compare different models and approaches that you compare them on the same dataset, though different transformations could be applied to the comparison dataset.

## Model evaluation

After selecting your final model, which could be a compromise of performance, interpretability and complexity, you should evaluate its performance on the test set. 
You might have tuned your model using a certain metric, but now you should describe the model performance using all relevant metrics. 
If you have some business insight, why a certain metric is relevant, you should explain it. 
Construct a suitable baseline to benchmark your result and to put them in the context.
Discuss your results, do they seem good enough to be used in practice? If not, what should be improved. Discuss what type of errors is your model making.

## Model interpretation

Use at least two different techniques for model interpretability. Discuss what are the most important features of your model, and how they impact the model performance. Pick a few examples of errors that your model is making, and check which features lead to thess errors.

In [80]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_colwidth', None)

In [81]:
df = pd.read_csv('pr13_stocks (1).csv', index_col=0)
df.head()

,Date,Dividends,Stock Splits,Brand_Name,Ticker,Industry_Tag,Country,Volume,Open,High,Low,Close
0,2021-01-25 00:00:00-05:00,0.0,0.0,crocs,CROX,footwear,usa,1102500.0,73.180000,74.750000,71.050003,73.910004
1,2019-09-12 00:00:00-04:00,0.0,0.0,target,TGT,retail,usa,3185700.0,100.810594,101.077753,99.999911,100.359192
2,2015-12-29 00:00:00-05:00,0.0,0.0,unilever,UL,consumer goods,netherlands,1278700.0,33.785507,33.970634,33.700657,33.908924
3,2014-06-13 00:00:00-04:00,0.0,0.0,amd,AMD,technology,usa,17734600.0,4.360000,4.390000,4.240000,4.280000
4,2017-10-06 00:00:00-04:00,0.0,0.0,the walt disney company,DIS,entertainment,usa,4360200.0,96.426167,96.734885,95.837672,96.541939

In [82]:
df['Date'] = pd.to_datetime(df['Date'], utc=True)

df

,Date,Dividends,Stock Splits,Brand_Name,Ticker,Industry_Tag,Country,Volume,Open,High,Low,Close
0,2021-01-25 05:00:00+00:00,0.0,0.0,crocs,CROX,footwear,usa,1102500.0,73.180000,74.750000,71.050003,73.910004
1,2019-09-12 04:00:00+00:00,0.0,0.0,target,TGT,retail,usa,3185700.0,100.810594,101.077753,99.999911,100.359192
2,2015-12-29 05:00:00+00:00,0.0,0.0,unilever,UL,consumer goods,netherlands,1278700.0,33.785507,33.970634,33.700657,33.908924
3,2014-06-13 04:00:00+00:00,0.0,0.0,amd,AMD,technology,usa,17734600.0,4.360000,4.390000,4.240000,4.280000
4,2017-10-06 04:00:00+00:00,0.0,0.0,the walt disney company,DIS,entertainment,usa,4360200.0,96.426167,96.734885,95.837672,96.541939
...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2004-06-18 04:00:00+00:00,0.0,0.0,fedex,FDX,logistics,usa,957800.0,66.332358,66.936849,65.991798,66.604805
99996,2022-06-24 04:00:00+00:00,0.0,0.0,hershey company,HSY,food & beverage,usa,1154300.0,213.073770,216.005978,212.311397,215.966888
99997,2017-09-06 04:00:00+00:00,0.0,0.0,unilever,UL,consumer goods,netherlands,1079900.0,47.701035,47.904677,47.546265,47.880238
99998,2021-06-04 04:00:00+00:00,0.0,0.0,amazon,AMZN,e-commerce,usa,44994000.0,160.600006,161.050003,159.940506,160.311005
99999,2011-08-11 04:00:00+00:00,0.0,0.0,salesforce / slack,CRM,technology,usa,10658000.0,32.407501,34.180000,32.047501,33.637501

In [83]:
df.isna().sum()

Date             16
Dividends        59
Stock Splits    458
Brand_Name      225
Ticker          175
Industry_Tag     34
Country         100
Volume          852
Open            803
High            664
Low             681
Close           194
dtype: int64

In [84]:
#drop the 16 rows without any date data
df = df.dropna(subset=['Date'])

In [85]:
df

,Date,Dividends,Stock Splits,Brand_Name,Ticker,Industry_Tag,Country,Volume,Open,High,Low,Close
0,2021-01-25 05:00:00+00:00,0.0,0.0,crocs,CROX,footwear,usa,1102500.0,73.180000,74.750000,71.050003,73.910004
1,2019-09-12 04:00:00+00:00,0.0,0.0,target,TGT,retail,usa,3185700.0,100.810594,101.077753,99.999911,100.359192
2,2015-12-29 05:00:00+00:00,0.0,0.0,unilever,UL,consumer goods,netherlands,1278700.0,33.785507,33.970634,33.700657,33.908924
3,2014-06-13 04:00:00+00:00,0.0,0.0,amd,AMD,technology,usa,17734600.0,4.360000,4.390000,4.240000,4.280000
4,2017-10-06 04:00:00+00:00,0.0,0.0,the walt disney company,DIS,entertainment,usa,4360200.0,96.426167,96.734885,95.837672,96.541939
...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2004-06-18 04:00:00+00:00,0.0,0.0,fedex,FDX,logistics,usa,957800.0,66.332358,66.936849,65.991798,66.604805
99996,2022-06-24 04:00:00+00:00,0.0,0.0,hershey company,HSY,food & beverage,usa,1154300.0,213.073770,216.005978,212.311397,215.966888
99997,2017-09-06 04:00:00+00:00,0.0,0.0,unilever,UL,consumer goods,netherlands,1079900.0,47.701035,47.904677,47.546265,47.880238
99998,2021-06-04 04:00:00+00:00,0.0,0.0,amazon,AMZN,e-commerce,usa,44994000.0,160.600006,161.050003,159.940506,160.311005
99999,2011-08-11 04:00:00+00:00,0.0,0.0,salesforce / slack,CRM,technology,usa,10658000.0,32.407501,34.180000,32.047501,33.637501

In [86]:
df[df['Brand_Name'].isna() & df['Ticker'].isna()]

,Date,Dividends,Stock Splits,Brand_Name,Ticker,Industry_Tag,Country,Volume,Open,High,Low,Close
29955,2000-11-16 05:00:00+00:00,0.0,0.0,NaN,NaN,apparel,usa,17245350.0,4.804951,5.124243,4.804951,5.038579

In [87]:
#drop the row without both Brand_name and Ticker as we cannot say which company this entry refers to
df = df[~(df['Brand_Name'].isna() & df['Ticker'].isna())].copy()

In [88]:
df

,Date,Dividends,Stock Splits,Brand_Name,Ticker,Industry_Tag,Country,Volume,Open,High,Low,Close
0,2021-01-25 05:00:00+00:00,0.0,0.0,crocs,CROX,footwear,usa,1102500.0,73.180000,74.750000,71.050003,73.910004
1,2019-09-12 04:00:00+00:00,0.0,0.0,target,TGT,retail,usa,3185700.0,100.810594,101.077753,99.999911,100.359192
2,2015-12-29 05:00:00+00:00,0.0,0.0,unilever,UL,consumer goods,netherlands,1278700.0,33.785507,33.970634,33.700657,33.908924
3,2014-06-13 04:00:00+00:00,0.0,0.0,amd,AMD,technology,usa,17734600.0,4.360000,4.390000,4.240000,4.280000
4,2017-10-06 04:00:00+00:00,0.0,0.0,the walt disney company,DIS,entertainment,usa,4360200.0,96.426167,96.734885,95.837672,96.541939
...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2004-06-18 04:00:00+00:00,0.0,0.0,fedex,FDX,logistics,usa,957800.0,66.332358,66.936849,65.991798,66.604805
99996,2022-06-24 04:00:00+00:00,0.0,0.0,hershey company,HSY,food & beverage,usa,1154300.0,213.073770,216.005978,212.311397,215.966888
99997,2017-09-06 04:00:00+00:00,0.0,0.0,unilever,UL,consumer goods,netherlands,1079900.0,47.701035,47.904677,47.546265,47.880238
99998,2021-06-04 04:00:00+00:00,0.0,0.0,amazon,AMZN,e-commerce,usa,44994000.0,160.600006,161.050003,159.940506,160.311005
99999,2011-08-11 04:00:00+00:00,0.0,0.0,salesforce / slack,CRM,technology,usa,10658000.0,32.407501,34.180000,32.047501,33.637501

In [89]:
df['Brand_Name'] = df['Brand_Name'].str.lower()
df['Ticker'] = df['Ticker'].str.upper()

brand_to_ticker = df.dropna(subset=['Brand_Name', 'Ticker'])\
                        .drop_duplicates(subset=['Brand_Name'])\
                        .set_index('Brand_Name')['Ticker'].to_dict()

ticker_to_brand = df.dropna(subset=['Brand_Name', 'Ticker'])\
                        .drop_duplicates(subset=['Ticker'])\
                        .set_index('Ticker')['Brand_Name'].to_dict()

    # Fill missing Ticker using Brand_Name
df.loc[df['Ticker'].isna() & df['Brand_Name'].notna(), 'Ticker'] = (
        df.loc[df['Ticker'].isna() & df['Brand_Name'].notna(), 'Brand_Name']
        .map(brand_to_ticker)
    )

    # Fill missing Brand_Name using Ticker
df.loc[df['Brand_Name'].isna() & df['Ticker'].notna(), 'Brand_Name'] = (
    df.loc[df['Brand_Name'].isna() & df['Ticker'].notna(), 'Ticker']
    .map(ticker_to_brand))

In [90]:
df.isna().sum()

Date              0
Dividends        59
Stock Splits    458
Brand_Name        0
Ticker            0
Industry_Tag     34
Country         100
Volume          852
Open            803
High            664
Low             681
Close           194
dtype: int64

In [91]:
#As dividend payments and stock splits are sparse, event-based features, missing values here are likely because 
#no such event has occured. Therefore, missing values are filled with 0. Also, the occurence of missing values 
#is relatively low here(59 and 458, respectively) compared to the overall dataset size(~100,000)
df['Dividends'] = df['Dividends'].fillna(0.0)
df['Stock Splits'] = df['Stock Splits'].fillna(0.0)

In [92]:
df.isna().sum()

Date              0
Dividends         0
Stock Splits      0
Brand_Name        0
Ticker            0
Industry_Tag     34
Country         100
Volume          852
Open            803
High            664
Low             681
Close           194
dtype: int64

In [93]:
df['Industry_Tag'].value_counts()

Industry_Tag
technology            21573
retail                 8600
automotive             8047
finance                7146
apparel                6708
consumer goods         6378
food & beverage        6371
entertainment          4095
food                   3836
footwear               3748
aviation               3583
gaming                 3575
hospitality            3310
e-commerce             2797
healthcare             2153
logistics              2106
manufacturing          2105
luxury goods           1597
financial services      726
music                   483
social media            396
fitness                 376
cryptocurrency          220
techcology                1
fooT                      1
technRlogy                1
tecanology                1
tecbnology                1
financial Tervices        1
fgnance                   1
retasl                    1
e-commVrce                1
healthcarE                1
axparel                   1
ghming                    1
tRchnology                1
retaxl                    1
Xinance                   1
automotivN                1
techwology                1
fCnance                   1
e-Nommerce                1
automotiAe                1
Name: count, dtype: int64

In [94]:
#Imputing industry tag values with the most frequent value for each brand

df['Industry_Tag'] = df['Industry_Tag'].str.strip().str.lower()
industry_map = (
        df.dropna(subset=['Industry_Tag'])
          .groupby('Brand_Name')['Industry_Tag']
          .agg(lambda x: x.mode()[0]) 
          .to_dict()
    )

df['Industry_Tag'] = df.apply(
        lambda row: industry_map[row['Brand_Name']]
        if pd.isna(row['Industry_Tag']) or row['Industry_Tag'] != industry_map.get(row['Brand_Name'])
        else row['Industry_Tag'],
        axis=1
    )

In [95]:
df['Industry_Tag'].value_counts()

Industry_Tag
technology            21587
retail                 8606
automotive             8054
finance                7150
apparel                6710
consumer goods         6381
food & beverage        6372
entertainment          4096
food                   3838
footwear               3748
aviation               3584
gaming                 3577
hospitality            3310
e-commerce             2803
healthcare             2155
logistics              2106
manufacturing          2106
luxury goods           1597
financial services      728
music                   483
social media            396
fitness                 376
cryptocurrency          220
Name: count, dtype: int64

In [96]:
#same for country

df['Country'] = df['Country'].str.strip()

country_map = (
        df.dropna(subset=['Country'])
          .groupby('Brand_Name')['Country']
          .agg(lambda x: x.mode()[0]) 
          .to_dict()
    )

df['Country'] = df.apply(
        lambda row: country_map[row['Brand_Name']]
        if pd.isna(row['Country']) or row['Country'] != country_map.get(row['Brand_Name'])
        else row['Country'],
        axis=1
    )

In [97]:
print(df['Country'].value_counts())
print(df.isna().sum())
print(f"Number of duplicates: {df.duplicated().sum()}")

Country
usa            78572
japan           6413
germany         5082
netherlands     4263
france          2823
switzerland     2132
canada           698
Name: count, dtype: int64
Date              0
Dividends         0
Stock Splits      0
Brand_Name        0
Ticker            0
Industry_Tag      0
Country           0
Volume          852
Open            803
High            664
Low             681
Close           194
dtype: int64
Number of duplicates: 0

In [98]:
print(df.shape)
df = df.drop(columns=['Volume', 'Open', 'High', 'Low','Brand_Name'])
df = df.dropna(subset=['Close'])
print(df.shape)

(99983, 12)
(99789, 7)

Delete Volume Open, High and Low since this data is same day date and not lagged --> otherwise data leakage
Delete Brand_Name because it contains the same info as Ticker
Delete 194 with no Data since it is only 194/100k values and is spread between dates/companies/strategies

In [99]:
print(df.columns)

Index(['Date', 'Dividends', 'Stock Splits', 'Ticker', 'Industry_Tag',
       'Country', 'Close'],
      dtype='object')

In [100]:
df['Date'] = pd.to_datetime(df['Date']) ### was machen wir mit den Stunden???

# Time-based features
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day
df['DayOfWeek'] = df['Date'].dt.dayofweek  # 0 = Monday, 6 = Sunday

# Running day number
df['Day_Number'] = (df['Date'] - df['Date'].min()).dt.days
df = df.sort_values(by='Date').reset_index(drop=True)
df

,Date,Dividends,Stock Splits,Ticker,Industry_Tag,Country,Close,Year,Month,Day,DayOfWeek,Day_Number
0,2000-01-03 05:00:00+00:00,0.0,0.0,TM,automotive,japan,72.034958,2000,1,3,0,0
1,2000-01-03 05:00:00+00:00,0.0,0.0,KO,food & beverage,usa,14.781797,2000,1,3,0,0
2,2000-01-03 05:00:00+00:00,0.0,0.0,CSCO,technology,usa,37.496925,2000,1,3,0,0
3,2000-01-03 05:00:00+00:00,0.0,0.0,FL,footwear,usa,3.957437,2000,1,3,0,0
4,2000-01-03 05:00:00+00:00,0.0,0.0,HD,retail,usa,40.083256,2000,1,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
99784,2023-09-20 04:00:00+00:00,0.0,0.0,TSLA,automotive,usa,262.589996,2023,9,20,2,8660
99785,2023-09-20 04:00:00+00:00,0.0,0.0,PMMAF,apparel,germany,63.369999,2023,9,20,2,8660
99786,2023-09-20 04:00:00+00:00,0.0,0.0,NVDA,technology,usa,422.390015,2023,9,20,2,8660
99787,2023-09-20 04:00:00+00:00,0.0,0.0,LOGI,technology,switzerland,71.800003,2023,9,20,2,8660
99788,2023-09-20 04:00:00+00:00,0.0,0.0,V,finance,usa,241.860001,2023,9,20,2,8660

In [ ]:
df['Close_Lag_1'] = df.groupby('Ticker')['Close'].shift(1)
df['Close_Lag_2'] = df.groupby('Ticker')['Close'].shift(2)
df['Close_Lag_3'] = df.groupby('Ticker')['Close'].shift(3)
df['Close_Lag_4'] = df.groupby('Ticker')['Close'].shift(4)
df['Close_Lag_5'] = df.groupby('Ticker')['Close'].shift(5)


# Calculate day differences between current and lagged dates
df['Days_Since_Lag_1'] = df.groupby('Ticker')['Date'].diff(1).dt.days
df['Days_Since_Lag_2'] = df.groupby('Ticker')['Date'].diff(2).dt.days
df['Days_Since_Lag_3'] = df.groupby('Ticker')['Date'].diff(3).dt.days
df['Days_Since_Lag_4'] = df.groupby('Ticker')['Date'].diff(4).dt.days
df['Days_Since_Lag_5'] = df.groupby('Ticker')['Date'].diff(5).dt.days

df[df['Ticker'] == 'FL'][:20]

,Date,Dividends,Stock Splits,Ticker,Industry_Tag,Country,Close,Year,Month,Day,DayOfWeek,Day_Number,Close_Lag_1,Close_Lag_2,Close_Lag_3,Days_Since_Lag_1,Days_Since_Lag_2,Days_Since_Lag_3,Mean_10_Lag_1,Std_10_Lag_1
3,2000-01-03 05:00:00+00:00,0.0,0.0,FL,footwear,usa,3.957437,2000,1,3,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2000-01-04 05:00:00+00:00,0.0,0.0,FL,footwear,usa,3.886768,2000,1,4,1,1,3.957437,NaN,NaN,1.0,NaN,NaN,NaN,NaN
31,2000-01-06 05:00:00+00:00,0.0,0.0,FL,footwear,usa,3.922102,2000,1,6,3,3,3.886768,3.957437,NaN,2.0,3.0,NaN,NaN,NaN
63,2000-01-10 05:00:00+00:00,0.0,0.0,FL,footwear,usa,3.992771,2000,1,10,0,7,3.922102,3.886768,3.957437,4.0,6.0,7.0,NaN,NaN
72,2000-01-11 05:00:00+00:00,0.0,0.0,FL,footwear,usa,3.886768,2000,1,11,1,8,3.992771,3.922102,3.886768,1.0,5.0,7.0,11.832027,8.985976
81,2000-01-12 05:00:00+00:00,0.0,0.0,FL,footwear,usa,3.851434,2000,1,12,2,9,3.886768,3.992771,3.922102,1.0,2.0,6.0,15.435765,11.952455
106,2000-01-14 05:00:00+00:00,0.0,0.0,FL,footwear,usa,3.674762,2000,1,14,4,11,3.851434,3.886768,3.992771,2.0,3.0,4.0,20.849024,19.735839
182,2000-01-25 05:00:00+00:00,0.0,0.0,FL,footwear,usa,3.674762,2000,1,25,1,22,3.674762,3.851434,3.886768,11.0,13.0,14.0,17.707523,14.889171
190,2000-01-26 05:00:00+00:00,0.0,0.0,FL,footwear,usa,3.639429,2000,1,26,2,23,3.674762,3.674762,3.851434,1.0,12.0,14.0,11.433768,11.018468
208,2000-01-27 05:00:00+00:00,0.0,0.0,FL,footwear,usa,3.639429,2000,1,27,3,24,3.639429,3.674762,3.674762,1.0,2.0,13.0,22.850028,12.815857
214,2000-01-28 05:00:00+00:00,0.0,0.0,FL,footwear,usa,3.356755,2000,1,28,4,25,3.639429,3.639429,3.674762,1.0,2.0,3.0,20.249218,13.547892
256,2000-02-02 05:00:00+00:00,0.0,0.0,FL,footwear,usa,3.639429,2000,2,2,2,30,3.356755,3.639429,3.639429,5.0,6.0,7.0,17.554168,21.652895
260,2000-02-03 05:00:00+00:00,0.0,0.0,FL,footwear,usa,3.427423,2000,2,3,3,31,3.639429,3.356755,3.639429,1.0,6.0,7.0,19.323334,24.888773
280,2000-02-04 05:00:00+00:00,0.0,0.0,FL,footwear,usa,3.498093,2000,2,4,4,32,3.427423,3.639429,3.356755,1.0,2.0,7.0,23.742229,17.038909
300,2000-02-08 05:00:00+00:00,0.0,0.0,FL,footwear,usa,3.427423,2000,2,8,1,36,3.498093,3.427423,3.639429,4.0,5.0,6.0,16.427117,13.092682
334,2000-02-11 05:00:00+00:00,0.0,0.0,FL,footwear,usa,3.427423,2000,2,11,4,39,3.427423,3.498093,3.427423,3.0,7.0,8.0,11.742329,13.464893
404,2000-02-18 05:00:00+00:00,0.0,0.0,FL,footwear,usa,3.250752,2000,2,18,4,46,3.427423,3.427423,3.498093,7.0,10.0,14.0,18.718912,18.160815
453,2000-02-25 05:00:00+00:00,0.0,0.0,FL,footwear,usa,3.109413,2000,2,25,4,53,3.250752,3.427423,3.427423,7.0,14.0,17.0,15.977334,12.922817
504,2000-03-03 05:00:00+00:00,0.0,0.0,FL,footwear,usa,3.922102,2000,3,3,4,60,3.109413,3.250752,3.427423,7.0,14.0,21.0,20.658166,15.553943
521,2000-03-07 05:00:00+00:00,0.0,0.0,FL,footwear,usa,3.816098,2000,3,7,1,64,3.922102,3.109413,3.250752,4.0,11.0,18.0,19.719692,11.869588

In [ ]:
df['Weighted_Mean_2'] = (
    df['Days_Since_Lag_1'] * df['Close_Lag_1'] + 
    df['Days_Since_Lag_2'] * df['Close_Lag_2']
) / (df['Days_Since_Lag_1'] + df['Days_Since_Lag_2'])

df['Weighted_Mean_5'] = (
    df['Days_Since_Lag_1'] * df['Close_Lag_1'] + 
    df['Days_Since_Lag_2'] * df['Close_Lag_2'] + 
    df['Days_Since_Lag_3'] * df['Close_Lag_3'] + 
    df['Days_Since_Lag_4'] * df['Close_Lag_4'] + 
    df['Days_Since_Lag_5'] * df['Close_Lag_5']
) / (
    df['Days_Since_Lag_1'] + 
    df['Days_Since_Lag_2'] + 
    df['Days_Since_Lag_3'] + 
    df['Days_Since_Lag_4'] + 
    df['Days_Since_Lag_5']
)

df['Weighted_Std_2'] = np.sqrt(
    (df['Days_Since_Lag_1'] * (df['Close_Lag_1'] - df['Weighted_Mean_2'])**2 + 
     df['Days_Since_Lag_2'] * (df['Close_Lag_2'] - df['Weighted_Mean_2'])**2) / 
    (df['Days_Since_Lag_1'] + df['Days_Since_Lag_2'])
)

df['Weighted_Std_5'] = np.sqrt(
    (df['Days_Since_Lag_1'] * (df['Close_Lag_1'] - df['Weighted_Mean_5'])**2 + 
     df['Days_Since_Lag_2'] * (df['Close_Lag_2'] - df['Weighted_Mean_5'])**2 + 
     df['Days_Since_Lag_3'] * (df['Close_Lag_3'] - df['Weighted_Mean_5'])**2 + 
     df['Days_Since_Lag_4'] * (df['Close_Lag_4'] - df['Weighted_Mean_5'])**2 + 
     df['Days_Since_Lag_5'] * (df['Close_Lag_5'] - df['Weighted_Mean_5'])**2) / 
    (df['Days_Since_Lag_1'] + 
     df['Days_Since_Lag_2'] + 
     df['Days_Since_Lag_3'] + 
     df['Days_Since_Lag_4'] + 
     df['Days_Since_Lag_5'])
)